<div class="rules">
  <strong>The rules of the <span class="display">game</span>:</strong>
  <ul class="rules-list">
    <li class="rule"><mat-icon svgIcon="circle" class="bullet"></mat-icon>Each player must bet a number of QUID tokens between 1 and 5.</li>
    <li class="rule"><mat-icon svgIcon="triangle" class="bullet"></mat-icon>Each player must also guess whether the total pot will be even or odd.</li>
    <li class="rule"><mat-icon svgIcon="rectangle" class="bullet"></mat-icon>Those players which guess correctly will win a portion of the pot.</li>
  </ul>
</div>

<div class="timer" *ngIf="timeRemaining$ | async">
  <p>Time remaining:</p>
  <span class="display">{{ timeRemaining$ | async }}</span>
</div>

<div class="content">
  <ng-container [ngSwitch]="gameState$">
    <ergo-lobby-stage *ngSwitchCase="'LOBBY'"></ergo-lobby-stage>
    <div class="loading-container" *ngSwitchDefault>
      <p>Please wait for the <span class="display">game</span> to begin.</p>
      <ergo-loading class="loading"></ergo-loading>
    </div>
  </ng-container>
</div>
