:host {
  height: 100%;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
  }

  .rules-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .rules {
    margin-bottom: 50px;
    font-size: 16px;
    padding: 40px;
    background-color: #c1db80;
    color: #011627;
  }

  .bullet {
    display: inline-block;
    height: 12px;
  }

  .rule {
    margin-top: 10px;
  }
}
