<svg viewBox="0 0 100 100">
  <path d="M95,95 50,5 5,95 5,95z" stroke="black" stroke-width="7" stroke-linejoin="round" fill="transparent">
    <animate
      attributeName="d"
      dur="3s"
      repeatCount="indefinite"
      values="
      M95,95 50,5 5,95 95,95z;
      M95,95 95,5 5,5 5,95z;
      M95,95 95,95 50,5 5,95z;"
    ></animate>
    <animate
      attributeName="stroke"
      dur="10s"
      repeatCount="indefinite"
      values="
      #038c8a;
      #c1db80;
      #ed4583;
      #038c8a;"
    ></animate>
  </path>
</svg>
