@import './src/stylesheet/colour';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  text-align: center;

  .button-container {
    height: 36px;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .field {
    margin-bottom: 24px;
    display: block;
  }
}
