<div>
  <p>You are currently in the <span class="primary">lobby</span>.</p>
  <p>Please place a bet and wait for the <span class="display">game</span> to begin.</p>
</div>

<div>
  <mat-form-field floatLabel="always">
    <mat-label>Bet amount</mat-label>
    <input placeholder="e.g. 1" matInput type="number" max="5" min="1" [formControl]="bet" />
    <mat-error *ngIf="bet.invalid">
      Please enter a value between 1 and 5.
    </mat-error>
    <span matSuffix>QUID</span>
  </mat-form-field>
  <div class="button-container">
    <button *ngIf="bet.valid" mat-raised-button color="accent">Place bet</button>
  </div>
</div>
