<div class="title" fxLayout="column">
  <strong>Welcome to</strong>
  <h1>QUID GAME</h1>
  <div class="shapes" fxLayout="row" fxLayoutAlign="space-around">
    <mat-icon svgIcon="circle" class="shape"></mat-icon>
    <mat-icon svgIcon="triangle" class="shape"></mat-icon>
    <mat-icon svgIcon="rectangle" class="shape"></mat-icon>
  </div>

  <div fxFlexOffset="10vh">
    <strong>The rules of the game:</strong>
    <p>- Set a certain amount</p>
    <p>- Bet if the sum of all amounts is odd or even</p>
  </div>
  <div fxFlex="1 1 auto" fxFlex.gt-xs="10"></div>
  <button routerLink="game" class="bet-button" mat-raised-button color="accent">BET</button>
</div>
