@import "stylesheet/theme";

@font-face {
  font-family: 'azonix';
  src: url('./assets/fonts/Azonix.otf') format('opentype');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1, h2, h3, h4, h5, h6 {
  font-family: azonix, sans-serif;
}
